:root {

    --colour-bg: #F3EEE6;
    --colour-bg2: #a16956;
    --colour-text: #ca9b86;
    --font-mono: "DM Mono", monospace;
    --font-h1: "Cinzel", serif;
    --font-p: "IBM Plex Mono", monospace;
    --transition: 0.3s ease;


}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: var(--colour-bg);
    overflow-x: hidden;
}

.header {
    position: sticky;
    background-color: var(--colour-bg);
    border-bottom: 1px solid var(--colour-bg2);
    z-index: 100;
    top: 0;
}

.header_inner {
    justify-content: space-between;
    align-items: center;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    font-family: var(--font-h1);
    font-weight: 600;
    font-size: 35px;
    color: #a16956;
    letter-spacing: 3px;

}

.logo:hover {
    color: black;
    transition: var(--transition);

}

.main_nav {

    display: flex;
    gap: 30px;
}

.main_nav a {
    font-family: var(--font-mono);
    text-transform: uppercase;
    font-weight: 300;
    color: var(--colour-bg2);
    letter-spacing: 2px;

}

.main_nav a:hover {
    text-decoration: underline;
    color: black;
}

.hero {
    max-width: 100%;
    height: 700px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 180px;
    background: url(bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;

}

.hero-p {
    font-family: var(--font-mono);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.hero-text h1 {
    font-family: var(--font-h1);
    font-size: 70px;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 60px;
}

.btn-primary {
    border: 1px solid;
    font-family: var(--font-mono);
    text-transform: uppercase;
    font-weight: 300;
    padding: 12px 25px;
    font-size: 14px;
    background-color: transparent;

}

.btn-primary:hover {
    background-color: black;
    color: var(--colour-text);
    transition: var(--transition);

}

.gallary {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem 2rem;
}

.section2 {
    text-align: center;
    margin-bottom: 50px;
}

.section2 h2 {
    font-family: var(--font-h1);
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}

.section2 p {
    font-family: var(--font-mono);
    font-weight: 200;
    text-transform: uppercase;

}

.gallary-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 3rem 2rem;
}

.gallery-item--large {
    grid-column: span 2;
}

.gallery-item--wide {
    grid-column: span 2;
}

.gallery-item--large2 {
    grid-column: span 2;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    background-color: rgb(231, 217, 199);
    border-radius: 2px;
}

.gallery-item img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.gallery-item--large img,
.gallery-item--wide img {
    height: 400px;
}

.gallery-item:hover img {
    transform: scale(1.03);
}

.gallery-info {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 30px;
}

.gallery-info h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.25rem;
    font-family: var(--font-h1);
}

.gallery-info p {
    font-family: var(--font-mono);
    font-size: 0.75rem;
    color: var(--colour-bg2);
    letter-spacing: 0.05em;

}

.about {
    background-color: var(--colour-text);
    padding: 90px 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
    align-items: center;
    max-width: 100%;
}

.about-image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 2px;
    max-width: 600px;
    margin-left: auto;
}



.about-text {
    max-width: 540px;
}

.section-label {
    font-family: var(--font-mono);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    color: #7c5644;
}



.about-text h2 {
    font-size: 60px;
    font-family: var(--font-h1);
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 30px;
}



.about-text p {
    color: black;
    margin-bottom: 30px;
    font-family: var(--font-p);

}

.about-stats {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    padding-top: 25px;
    border-top: 1px solid black;
}

.about-stats li {
    display: flex;
    flex-direction: column;
}

.stat-number {
    font-family: var(--font-p);
    font-size: 2.5rem;
    font-weight: 300;
    color: #7c5644;

}

.stat-label {
    font-family: var(--font-mono);
    font-size: 0.7rem;
    color: #7c5644;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0.25rem;
}

.exhibitions {

    margin: 0 auto;
    padding: 90px 180px;
}

.section-header {

    width: 100%;
    text-align: center;
}

.section-header h2 {
    margin-bottom: 20px;
    font-family: var(--font-h1);
    font-weight: 400;
    font-size: 50px;
}

.section-header p {
    font-family: var(--font-mono);
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 50px;
}

.exhibition-list {
    display: grid;
    gap: 0;
}

.exhibition-item {
    display: grid;
    grid-template-columns: 100px 1fr 2fr;
    align-items: start;
    gap: 10px;
    padding: 30px 50px;
    border-bottom: 1px solid var(--colour-bg2);
    transition: background-color var(--transition);
}

.exhibition-item:hover {
    background-color: rgb(245, 235, 223);
    padding-left: 20px;
    padding-right: 20px;
}

.exhibition-item--upcoming .exhibition-tag {
    color: black;
}

.exhibition-tag {
    font-family: var(--font-mono);
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--colour-bg2);
    padding-top: 0.3rem;
}

.exhibition-info h3 {
    font-family: var(--font-p);
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0.3rem;
}

.exhibition-venue {
    font-family: var(--font-mono);
    font-size: 0.78rem;
    color: var(--colour-bg2);
}

.exhibition-date {
    font-family: var(--font-mono);
    font-size: 0.72rem;
    color: black;
    margin-top: 0.2rem;
}

.exhibition-desc {
    font-size: 0.95rem;
    color: black;
    padding-top: 0.4rem;
}

.contact {
    background-color: var(--colour-bg2);

    padding: 140px 180px;
}

.contact-inner {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.contact h2 {
    font-family: var(--font-h1);
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    font-weight: 300;
    margin-bottom: 40px;
}

.contact>.contact-inner>p {
    font-family: var(--font-mono);
    font-size: 0.85rem;
    color: #160c02;
    letter-spacing: 0.08em;
    margin-bottom: 60px;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-mono);
    font-size: 0.85rem;
    letter-spacing: 0.05em;
    color: #ccc0b0;
    transition: color var(--transition);
}

.exhibition-item {
    transition: all 0.3s ease;
}

.exhibition-item:hover {
    background-color: rgb(245, 235, 223);
    transform: translateX(-3px);
}

.contact-icon {
    font-size: 1rem;
}

.site-footer {
    background-color: var(--colour-bg2);
    border-top: 1px solid #3f3224;
    padding: 40px 80px;
}

.footer-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.footer-name {
    font-family: var(--font-h1);
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
}

.footer-copy {
    font-family: var(--font-mono);
    font-size: 0.9rem;
    color: #100902;
    letter-spacing: 0.08em;
}

.footer-nav {
    display: flex;
    gap: 20px;
}

.footer-nav a {
    font-family: var(--font-mono);
    font-size: 0.72rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0a0601;
    transition: color var(--transition);
}

.footer-nav a:hover {
    color: var(--colour-text);
}